pydeck==0.5.0
fake_useragent==0.1.11
pandas==1.2.3
imutils==0.5.4
matplotlib==3.2.2
geopy==2.1.0
Keras==2.4.3
streamlit==0.76.0
numpy==1.19.2
opencv_python==4.5.1.48
tensorflow==2.4.1
requests==2.25.1
Pillow==8.1.2
scikit_learn==0.24.1

opencv-python==>=3.0.0.0,<5.0.0.0
