opencv-python-headless
numpy
geopy==2.1.0
pickle5==0.0.11
pickle
keras
tensorflow
imutills
imutils==0.5.4
matplotlib==3.2.2
pydeck==0.5.0
tensorflow==2.4.1
geopy==2.1.0
pandas==1.2.3
streamlit==0.79.0
fake_useragent==0.1.11
pickle5==0.0.11
requests==2.25.1
opencv_python==4.5.1.48
Keras==2.4.3
numpy==1.19.2
Pillow==8.1.2
scikit_learn==0.24.1



